.navbar {
  justify-content: center;
  background-color: #e3e3e3 !important; /* Match body background */
  font-family: 'Revalia', serif !important;
  text-align: center;
}

.navbar .container {
  justify-content: center !important;
}

.navbar .navbar-nav {
  margin: 0 auto !important;
  flex-direction: row !important;
}

.navbar .navbar-toggler {
  margin: 0 auto !important;
}

.navbar-nav .nav-link {
  font-family: 'Revalia', serif !important;
  font-size: 18px;
  color: #000;
  text-shadow: 0 0 6px #FFF;
}
